<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Django & VueJs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    
    <div id="app">
        <div class="container">
            
            <!-- Navbar -->
            {% include 'components/navbar.html' %}

            <div class="row my-5">
                <div class="col-lg-4 mb-4" v-for="item in articles">
                    <div class="card">
                        <img v-bind:src="item.thumbnail" class="card-img-top" v-bind:alt="item.title" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" v-html="item.title"></h5>
                            <button v-on:click="getArticle(item.id)" class="btn btn-primary mt-3">Show Article</button>
                            <button v-on:click="getArticle(item.id)" class="btn btn-secondary mt-3">Edit</button>
                        </div>

                        <span v-on:click="deleteArticle(item.id)" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="cursor: pointer;">
                            <b>X</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        {% include 'components/modal.html' %}
        {% include 'components/modal-detail.html' %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        jQuery.noConflict();


        new Vue({
            el: "#app",
            data: {
                articles: [],
                hai: "hello",
                loading: false,
                detailArticle: {},
                message: null,
                newArticle: {
                    title: null,
                    content: null,
                    keyword: null,
                    thumbnail: null
                }
            },
            mounted: function() {
                this.getArticles();
            },
            methods: {
                getArticles: function(){
                    this.loading = true;
                    this.$http.get('http://localhost:8000/api/article/')
                        .then((response) => {
                            this.articles = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        });
                },
                getArticle: function(id) {
                    this.loading = true;
                    this.$http.get(`http://localhost:8000/api/article/${id}/`)
                        .then((response) => {
                            this.detailArticle = response.data;
                            this.loading = false;

                            jQuery('#detailModal').modal('show');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        });
                },
                deleteArticle: function(id){
                    if (confirm("Are you sure to delete this article?")){
                        this.loading = true;
                        
                        this.$http.delete(`http://localhost:8000/api/article/${id}/`)
                            .then((response) => {
                                this.loading = false;
                                this.getArticles();
                            })
                            .catch((err) => {
                                this.loading = false;
                                console.log(err);
                            });
                    }
                },
                createArticle: function() {
                    this.loading = true;

                    let formData = new FormData();

                    for(let key in this.newArticle) {
                        formData.append(key, this.newArticle[key])
                    }

                    this.$http.post('http://localhost:8000/api/article/', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then((response) => {
                            this.loading = false;
                            this.getArticles();
                            
                            jQuery('#formModal').modal('toggle');
                            this.clearFormInput();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err.body);
                        });
                },
                handleFilesUpload: function() {
                    let uploadedFile = this.$refs.thumbnail.files[0];
                    this.newArticle.thumbnail = uploadedFile;
                },
                clearFormInput: function() {
                    for(let key in this.newArticle) {
                        this.newArticle[key] = null;
                    }
                }
            }
        });
    </script>
</body>
</html>